In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
data = pd.read_excel("diamonds_new.xlsx")
data

       price  carat        cut color clarity  depth  table     x     y     z
0        326   0.23      Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1        326   0.21    Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2        327   0.23       Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3        334   0.29    Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4        335   0.31       Good     J     SI2   63.3   58.0  4.34  4.35  2.75
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
53915   2757   0.72      Ideal     D     SI1   60.8   57.0  5.75  5.76  3.50
53916   2757   0.72       Good     D     SI1   63.1   55.0  5.69  5.75  3.61
53917   2757   0.70  Very Good     D     SI1   62.8   60.0  5.66  5.68  3.56
53918   2757   0.86    Premium     H     SI2   61.0   58.0  6.15  6.12  3.74
53919   2757   0.75      Ideal     D     SI2   62.2   55.0  5.83  5.87  3.64

[53920 rows x 10 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53920 entries, 0 to 53919
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    53920 non-null  int64
 1   carat    53920 non-null  float64
 2   cut      53920 non-null  object
 3   color    53920 non-null  object
 4   clarity  53920 non-null  object
 5   depth    53920 non-null  float64
 6   table    53920 non-null  float64
 7   x        53920 non-null  float64
 8   y        53920 non-null  float64
 9   z        53920 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB

In [6]:
from scipy import stats

In [7]:
# number one.
# Step 1: Check the unique t
table_cat= data['table'].unique()

grouped_prices = [data[data['table'] == table]['price'] for table in table_cat]

# Step 3: Perform the ANOVA test
anova_result = stats.f_oneway(*grouped_prices)

# Step 4: Print the results
print(f"ANOVA F-statistic: {anova_result.statistic}")
print(f"ANOVA p-value: {anova_result.pvalue}")

alpha = 0.05
if anova_result.pvalue < alpha:
    print("Reject the null hypothesis. There is a significant difference in the average prices across table categories.")
else:
    print("Fail to reject the null hypothesis. The average prices of all table categories are the same.")

ANOVA F-statistic: 11.157980912564147
ANOVA p-value: 1.0498112683505278e-211
Reject the null hypothesis. There is a significant difference in the average prices across table categories.

In [9]:
#number two
premium_diamonds = data[data['cut'] == 'Premium']

sample_mean_premium = np.mean(premium_diamonds['price'])
sample_size_premium = len(premium_diamonds)

# Step 3
population_std = np.std(premium_diamonds['price'], ddof=1)  # Using sample standard deviation

# Step 4: Perform the Z-test
population_mean = 150  # 
z_score = (sample_mean_premium - population_mean) / (population_std / np.sqrt(sample_size_premium))

p_value = 2 * (1 - stats.norm.cdf(abs(z_score)))

# Print results
print(f"Sample Mean (Premium Diamonds): {sample_mean_premium}")
print(f"Z-score: {z_score}")
print(f"P-value: {p_value}")

# Decision based on p-value
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. The average price of Premium diamonds is significantly different from 150.")
else:
    print("Fail to reject the null hypothesis. The average price of Premium diamonds is not significantly different from 150.")

Sample Mean (Premium Diamonds): 4584.697657553122
Z-score: 119.73104883785923
P-value: 0.0
Reject the null hypothesis. The average price of Premium diamonds is significantly different from 150.